# **EDA**

In [1]:
import pandas as pd

## Quick data exploration

In [12]:
df = pd.read_csv("../data/test_storming_round.csv")
df.head()

,row_id,agent_code,agent_age,agent_join_month,first_policy_sold_month,year_month,unique_proposals_last_7_days,unique_proposals_last_15_days,unique_proposals_last_21_days,unique_proposal,...,unique_quotations,unique_customers_last_7_days,unique_customers_last_15_days,unique_customers_last_21_days,unique_customers,new_policy_count,ANBP_value,net_income,number_of_policy_holders,number_of_cash_payment_policies
0,1,de9a845f,43,6/1/2020,4/1/2022,9/1/2024,0,2,12,17,...,14,6,9,5,20,24,511320,86955,0,48
1,2,1450745b,32,5/1/2019,8/1/2022,9/1/2024,1,3,4,13,...,12,2,2,5,9,14,296660,55062,9,56
2,3,5c4dd08c,52,6/1/2019,6/1/2022,9/1/2024,2,6,17,27,...,21,5,6,10,21,34,833544,224429,0,34
3,4,3c7a8b50,21,5/1/2021,9/1/2023,9/1/2024,1,6,17,26,...,15,3,2,10,15,33,2972409,439159,15,33
4,5,3dd0c2a1,33,9/1/2022,11/1/2023,9/1/2024,0,4,2,8,...,14,5,4,6,15,15,168150,18195,60,90

In [11]:
df.describe(include="all")

,row_id,agent_code,agent_age,agent_join_month,first_policy_sold_month,year_month,unique_proposals_last_7_days,unique_proposals_last_15_days,unique_proposals_last_21_days,unique_proposal,...,unique_quotations,unique_customers_last_7_days,unique_customers_last_15_days,unique_customers_last_21_days,unique_customers,new_policy_count,ANBP_value,net_income,number_of_policy_holders,number_of_cash_payment_policies
count,914.000000,914,914.000000,914,914,914,914.000000,914.000000,914.000000,914.000000,...,914.000000,914.000000,914.000000,914.000000,914.000000,914.000000,9.140000e+02,914.000000,914.000000,914.000000
unique,NaN,914,NaN,65,28,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,de9a845f,NaN,5/1/2019,4/1/2024,9/1/2024,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,26,161,914,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,457.500000,NaN,40.506565,NaN,NaN,NaN,1.540481,2.903720,9.798687,17.318381,...,13.928884,3.088621,5.025164,7.405908,15.519694,20.114880,1.008371e+06,226420.912473,30.931072,102.386214
std,263.993371,NaN,11.698497,NaN,NaN,NaN,1.120848,1.974517,5.999722,6.695894,...,4.592290,1.595387,2.402632,3.537997,4.767559,9.636944,8.221544e+05,175909.860712,25.300530,76.215860
min,1.000000,NaN,20.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,2.000000,...,2.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000e+00,2396.000000,0.000000,0.000000
25%,229.250000,NaN,31.000000,NaN,NaN,NaN,1.000000,1.000000,5.000000,12.000000,...,11.000000,2.000000,3.000000,5.000000,12.000000,14.250000,3.419635e+05,92338.750000,11.000000,39.000000
50%,457.500000,NaN,41.000000,NaN,NaN,NaN,2.000000,3.000000,10.000000,17.000000,...,14.000000,3.000000,5.000000,7.000000,15.000000,21.000000,8.349145e+05,185448.000000,27.000000,88.000000
75%,685.750000,NaN,51.000000,NaN,NaN,NaN,3.000000,5.000000,15.000000,23.000000,...,17.000000,4.000000,7.000000,10.000000,19.000000,27.000000,1.574566e+06,313027.750000,48.000000,153.750000
max,914.000000,NaN,60.000000,NaN,NaN,NaN,3.000000,6.000000,20.000000,33.000000,...,30.000000,6.000000,10.000000,15.000000,30.000000,42.000000,3.587922e+06,818544.000000,120.000000,333.000000

In [13]:
df.dtypes

row_id                              int64
agent_code                         object
agent_age                           int64
agent_join_month                   object
first_policy_sold_month            object
year_month                         object
unique_proposals_last_7_days        int64
unique_proposals_last_15_days       int64
unique_proposals_last_21_days       int64
unique_proposal                     int64
unique_quotations_last_7_days       int64
unique_quotations_last_15_days      int64
unique_quotations_last_21_days      int64
unique_quotations                   int64
unique_customers_last_7_days        int64
unique_customers_last_15_days       int64
unique_customers_last_21_days       int64
unique_customers                    int64
new_policy_count                    int64
ANBP_value                          int64
net_income                          int64
number_of_policy_holders            int64
number_of_cash_payment_policies     int64
dtype: object

### Data cleaning - datetime

In [19]:
df[['agent_join_month', 'first_policy_sold_month', 'year_month']]
date_columns = ['agent_join_month', 'first_policy_sold_month', 'year_month']
for col in date_columns:
    df[col] = pd.to_datetime(df[col])

In [21]:
df.dtypes

row_id                                      int64
agent_code                                 object
agent_age                                   int64
agent_join_month                   datetime64[ns]
first_policy_sold_month            datetime64[ns]
year_month                         datetime64[ns]
unique_proposals_last_7_days                int64
unique_proposals_last_15_days               int64
unique_proposals_last_21_days               int64
unique_proposal                             int64
unique_quotations_last_7_days               int64
unique_quotations_last_15_days              int64
unique_quotations_last_21_days              int64
unique_quotations                           int64
unique_customers_last_7_days                int64
unique_customers_last_15_days               int64
unique_customers_last_21_days               int64
unique_customers                            int64
new_policy_count                            int64
ANBP_value                                  int64
net_income                                  int64
number_of_policy_holders                    int64
number_of_cash_payment_policies             int64
dtype: object